.container{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.hot-product{
    display: flex;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 20px;
}
.hot-product-image{
    height: 40px;
    margin: 10px 5px;
    cursor: pointer;
}
.hot-product-image img{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    height: auto;
    max-height: 100%;
    max-width: 130px;
}

.product-list{
    width: 100%;
    border-spacing: unset;
}
.product-list th, .product-list td{
    background: #fff;
    border: 1px solid #ccc;
    line-height: 30px;
}
.product-list td{
    padding-left: 10px;
}
.product-list .product-type{
    text-align: left;
    border: none;
    background: #e6ecf0;
    line-height: 47px;
    padding-left: 20px;
}