.container{
    width: 100%;
    text-align: center;
}
.header{
    height: 135px;
    padding: 20px;
    box-sizing: border-box;
    border-bottom: 3px solid rgba(191, 0, 0, 1);
}
.header-logo{
    float: left;
    width: 200px;
    height: 70px;
    background: url('./img/logo.jpg') no-repeat;
}
.header-info-box{
    float: right;
    height: 100%;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}
.header-info{
    position: relative;
    width: 50%;
    
}
.header-info p{
    line-height: 40px;
    font-size: 1.08em;
    font-weight: 700;
    color: #666;
}
.navigation{
    margin: 20px; 
}
.navigation ul li {
    display: inline-block;
    padding: 5px 40px;
    color: #666;
    border-right: 1px solid #666;
    font-weight: 400;
    cursor: pointer;
}
.icon{
    position: absolute;
    left: -37px;
    top: 6px;
    background-repeat: no-repeat;
    background-size: cover;
}
.icon-phone{
    width: 30px;
    height: 30px;
    background-image: url('./img/phone.png');
}
.icon-time{
    width: 25px;
    height: 25px;
    background-image: url('./img/time.png');
}
.icon-email{
    width: 25px;
    height: 25px;
    background-image: url('./img/email.png');
}
.icon-mobile{
    top: 2px;
    left: -43px;
    width: 25px;
    height: 35px;
    background-image: url('./img/mobile.png');
}
.link-text{
    color: #666;
}